
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
body{
    
}
p{
    color: #a0aec0;
    font-weight: bold;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    width: 50px;
    
}
.Sign__up--button{
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 20px;

}
.white{
    color: white;
}


.nav__links{
   display: flex;
   margin: 24px;
   
}


.nav__link{

    padding: 12px 32px;
   color: #243e63;
  
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    transition: calc(1.5);
    opacity: 1;
    color: #6415ff;
}
.btn{
  
    background-color: #6415ff;
    color: white;
    border-radius: 40px;
    border: 0;
    padding: 16px 0px;
    
    font-size: 13px;
    width: 120px;
    
    

}
.purple{
    color: #6415ff;
}

.container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

}

.container__left{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.img__container{
    width: 60%;
}
.img__front{
    width: 100%;
}
.img__front2{
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
.para_trusted{
    margin-top: 60px;
    font-size: small;
    color: #a0aec0
}

input{
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    border: solid white;
    overflow: auto;
}

.email__section{
    display: flex;
    max-width: 300px;
    border-width: 10px;
    color: #a0aec0;
    border: solid #a0aec0; 
    border-radius: 999px;
    border-width: 2px;
    padding-left: 30px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;


}


/*features section*/


.features__container{

    text-align: center;
    margin: 0px 129px;
    padding: 96px 0px;
}

.tital_features{
    
    font-size: 48px;
}
.para__features{
    padding-left: 80px;
    padding-right: 80px;
    font-weight: lighter;
    color: #a0aec0;
    font-size: 15px;

}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    font-size: 15px;
    padding: 2rem 0.5rem;

    
}
.service__para{
    margin-top:0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2;
    padding-left: 10px;
    overflow: auto;
    

}

.img__service{
    display: flex;
    flex-direction: column;
    


    
}
.service__tital{
    margin-top: 0px;
    margin-bottom: 0px;
}

.img__wrapper{
    padding: 1.25rem;
    flex-direction: row;
    align-items: flex-start;
    border-width: 1px;
    border-radius: 9999px;
    border:  solid lightgray;
    height: fit-content;
    
}

/* section 2 */

.container__left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
}
.container2{
    display: flex;
    margin: 0px 29.5px;
    padding: 96px 0px;
}
.img__2{
    width: 50%;
    border: solid lightgray;
}
h5{
    font-size: 15px;
    color: #6415ff;
    margin: 0 ;
}
.h2__section2{
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 12px;
}


/*section 3*/

.container3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 29.5px;
    padding: 96px 0px;
    max-width: 100%;
}

.h2__section3{
    width: 100%;
    font-size: 48px;
    margin-top: 5px;
}

.img__3{
    max-width: 50%;
    height: auto;
    
}

.container__right{
    max-width: 100%;
    padding: 32px 0px;
    margin-left: 30px;
    
 
}

.number{
    text-align: end;
    color: #a0aec0;
    font-size: 35px;
    font-weight: bold;
    
   
}
h2{
    margin: 0;

}
.heading_section{
    margin: 0px 0px 0px 24px;
}
.headings{
    display: flex;
    align-items: flex-start;
    margin: 32px 0px 0px;
    max-width: 90%;
    
    
}
.heading__box{
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
   

}

/*section 4*/
h3{
    margin: 0;
}
.img__4{
    width: 50%;
    
}

.box__container{
    display: flex;
    margin-bottom: 20px;

}
.box1{
    margin: 32px 32px 0px 0px;
    
}
.box2{
    margin: 32px 0px 0px;

}
.box__wrapper{
    display: flex;
    
    
}
.doller__sign{
    background-color: greenyellow;
    border-radius: 9999px;
    padding: 3px;
    margin-right: 5px;

}
.bag{
    background-color: lightpink;
    border-radius: 9999px;
    padding: 3px;
    margin-right: 5px;
}

/* section 5 */


.para{
    max-width: 50%;
    margin: 0;
}
h1{
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.plans{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}
.plan{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 64px 32px 0px 0px;
    padding: 8px 32px 0px;
}
.first__box{
   
    border: solid lightgray;
    border-width: 1px;
    border-radius: 6px 6px 0px 0px;
    padding: 32px 0px;
}
.seconed__box{
    padding: 32px;
    border: solid lightgray;
    border-width: 1px;
    border-radius: 0px;
}
.CTA{
    padding: 32px;
    border: solid lightgray;
    border-width: 1px;
    border-radius: 0px 0px 6px 6px;

}


/* Testimonials */
.container_test{
    padding: 96px 0px;
}
.women_img{
    width: 80px;
    border-radius: 999px;
    padding-right: 10px;
}
.img__container5{
    width: 40%;
}
.container__right2{
    padding: 0px 0px 0px 64px;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}
.img5{
    width: 100%;

}
.fas {
    color: gold;
    margin-top: 20px;

}
.women_wrapper{
    display: flex;
    align-items: center;
    padding-top: 20px;
   
}
.h4{
    margin: 0px;
}
.p{
    margin: 0px;
}


/* FANQ */
.fanq_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 96px 0px;
}

.footer{
    width: 100%;
    background-color: #6415ff;
    display: flex;
    justify-content: center;
  
   
}




.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 0px;
    width: auto;

}
.white{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0aec0;
}


.footer__row{
 
}
.FiveColumnWithBackground__FiveColumns-sc-1ra39yi-2{

    display: flex;
    flex-direction: row;
 

    

}
a{
    color: white;
    padding: 10px;
    
    
}

li {
    color: #6415ff;
    padding: 10px;
}
